<div class="container">
    <div>
      <h2>EDIT PRODUCT</h2>
    </div>
    <form >
      <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID</label>
        <input type="number" 
        [(ngModel)]="currentProduct.idProduct"
        name="productId"
       class="form-control">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >NAME</label>
        <input type="text"
        [(ngModel)]="currentProduct.nameProduct"
        name="productName"
       class="form-control">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >PRICE</label>
        <input type="number" 
        [(ngModel)]="currentProduct.priceProduct"
        name="productPrice"
       class="form-control">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Product Category</label>
        <select class="form-control form-control-lg"
           id="categoryId" name="categoryId"
           [(ngModel)]="newCategoryId"
        >
          <option  *ngFor="let category of categories"  [value]="category.idCategory">
            {{category.category}}
          </option>
        </select>
     
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label >DATE</label>
        <input type="date" 
        [ngModel]="currentProduct.dateCreate | date: 'yyyy-MM-dd' "
        (ngModelChange)="currentProduct.dateCreate=$event"
        name="dateCreation"
       class="form-control">
      </div>
      <div class="mt-2">
        <button type="submit"  (click)="updateProduct()" class="btn btn-success">UPDATE</button>
      </div>
    </form>
  </div>